<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="GitHub Yapoml" value="https://nuget.pkg.github.com/yapoml/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <GitHub_x0020_Yapoml>
            <add key="Username" value="yapoml" />
            <add key="ClearTextPassword" value="%NUGET_AUTH_TOKEN%" />
        </GitHub_x0020_Yapoml>
    </packageSourceCredentials>
</configuration>